// Z-index map
// Example values
// modal     : 9000
// overlay   : 8000,
// dropdown  : 7000,
// header    : 6000,
// footer    : 5000
$zindex:(
  scoreboard: 6000,
  scoreboard-nav: 6001,
  header: 6051,
  header-button: 6052,
);
